ac_encode/ac_encode
adatron/adatron
amaze/amaze
ant/ant
astar/astar
bh/bh
block/block
brainfuck/brainfuck
c64/c64
chaos/chaos
chess/chess
chull/chull
circle/circle
collatz/collatz
dijkstra/dijkstra
dijkstra2/dijkstra2
doom/doom
fysphun/fysphun
genetic/genetic
genetic2/genetic2
go/go
gs/gs
hq2x/hq2x
kanoodle/kanoodle
kmeanspp/kmeanspp
life/life
linalg/linalg
loop/loop
lz2/lz2
mandelbrot/mandelbrot
mandelbrot2/mandelbrot2
mao/mao
mastermind/mastermind
mastermind2/mastermind2
minilight/minilight
minpng/minpng
msp_ss/msp_ss
mwmatching/mwmatching
nbody/nbody
neural1/neural1
neural2/neural2
oliva2/oliva2
othello/othello
othello2/othello2
othello3/othello3
path_tracing/path_tracing
pisang/pisang
plcfrs/plcfrs
pygasus/pygasus
pygmy/pygmy
pylife/pylife
pylot/pylot
pystone/pystone
quameon/quameon
rdb/rdb
richards/richards
rsync/rsync
rubik/rubik
rubik2/rubik2
sat/sat
score4/score4
sha/sha
sieve/sieve
softrender/softrender
sokoban/sokoban
solitaire/solitaire
stereo/stereo
sudoku1/sudoku1
sudoku2/sudoku2
sudoku3/sudoku3
sudoku4/sudoku4
sudoku5/sudoku5
sunfish/sunfish
tarsalzp/tarsalzp
testdata/testdata
tictactoe/tictactoe
timsort/timsort
tonyjpegdecoder/tonyjpegdecoder
voronoi/voronoi
voronoi2/voronoi2
webserver/webserver
yopyra/yopyra

# Two programs have a source PACKAGE directory with the same name as the
# program, so the entry above matches the directory as well as the binary
# and silently hides the package. A trailing slash matches directories
# only, so these re-include the directory while the entry above still
# ignores the compiled file. Without them a newly added module in either
# package is invisible to git -- the same class of accident that got
# collatz/doom/othello2 committed in ce380ff4.
!c64/c64/
!pylot/pylot/
